@charset "UTF-8";

body {
  background-color: skyblue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15pt;
}

header {
  color: white;
  text-align: center;
}

section {
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  width: 500px;
  margin: auto;
  box-shadow: 0px 0px 5px black;
}

section > div > img {
  width: 250px;
  height: 250px;
  margin-top: 10px;
  margin: auto;
}

footer {
  color: white;
  text-align: center;
  font-style: italic;
}

div {
  text-align: center;
  padding: 8px;
}
